 body {
            font-family: sans-serif;
            background-color: #808080;
            color: rgb(32, 32, 32)
        }

        .centerbox {
            background-color: rgb(224, 224, 224);
            width: 85%;
            padding: 25px 25px;
            margin: 80px auto;
        }

        .parameterbox {
            background-color: whitesmoke;
            padding: 10px 10px;
            line-height: 1.5;
            display: flex;
        }

        #left {
            flex: 0 0 40%;
        }

        #right {
            flex: 1;
        }